html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
.upper-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-contact{
    font-size: larger;
    color: black;
}
header div div p{
    font-size: larger;
    color: red;
}
.navbar{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.navbar ul {
    display: flex;
    gap:10px; 
    background: #222222;  
    color:white ;
    border-radius:15px;
}
.navbar ul li {
    list-style-type: none;
    padding: 10px;
}
.navbar ul li a:hover{
    color:red;
    transition: color 0.5s ease-in-out;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
}

/* Hamburger */
.hamburger{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
    font-size: 24px;
}

/* Banner */
.banner{
    background-color: #a70e10;
    text-align: center;
    padding-top:30px;
    margin:20px; 
    border-radius: 10px;           
}
.banner img{
    border-radius:20px;
}

/* Welcome */
.welcome{
    color: white;
    background: #222222;
    margin-top: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;           
}

.welcome h1{
    margin-top: 10px;
}
.welcome div{
    margin-top: 20px;
}
hr{
    margin-top: 20px;
  border-color: #080808;
}
.offer{
    background: #3b3b3b;
    padding: 5px;
    border-radius: 10px;
}
.mobile-numbers{
    padding: 5px;
   background-color:  #a70f0d;
   border-radius: 10px;

}
.offerAndMobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Services*/
.services{
    color: white;
    background: #222222;
    margin-top: 20px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;           
}

.service{
    display: flex;
    justify-content: space-between;
}
.service div {
    margin-top: 20px;
}
.services h1 {
    margin-top: 10px;
}
.service img{
    border-radius: 20px !important; 
    
}
.service img:hover{
    border-radius: 20px !important;
    transform: scale(1.01); 
    transition: transform 0.3s ease-in-out;

}

/* About Us */
.about {
    margin-top: 20px;
}
.aboutlist{
    list-style-position: inside;
}
.aboutHeading{
    margin-top: 5px;
}

/* Footer */
footer{
    padding: 10px;
}

.footer-nav{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.footer-nav li a{
   text-decoration: none;
   color: black;
   font-weight: bold;
}
.footer-nav li a:hover{
  color: red;
  transition: color 0.5s ease-in-out;
}
footer p{
  text-align: center;
  margin-top: 5px;
}
.services-list a{
    text-decoration: none;
    color: black;
}
.services-list a:hover{
    color: red;
}
.contactus p{
    margin-top: 5px;
}
/* Mobile View */
@media screen and (max-width:786px) {
    #mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #222222;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        display: none; /* Hidden by default */
    }
    
    #mobile-nav.open {
        transform: translateX(0);
        display: block; /* Show when open */
    }
    
    .upper-header{
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar{
        margin-top: 0px;
    }
   .hamburger{
      display: block;
    }
    .banner img{
        width: 100%;
    }
    .banner{
        margin: 2px  
    }
    .welcome div p{
        font-size: small;
    }
    .welcome{
        margin: 2px;
        margin-top: 20px;
        padding: 5px;
    }
    .services{
        margin: 2px;
        margin-top: 20px;
        padding: 5px;
    }
    .service{
    flex-wrap: wrap-reverse;
    justify-content: center;    
    }
    .service div p{
        font-size: small;
        margin-top: 10px;
    }
    .offer{
        padding: 15px;
    }
    .offer h4{
        padding: 5px;
    }
    .mobile-numbers h4{
        padding: 5px;
    }
    .mobile-numbers h3{
        padding: 5px;
        
    }
    .about {
        font-size: small;
    }
    footer{
        font-size: small;
    }
  
}          